/* DEVELOPER LISTING PAGE CSS STARTS HERE */
.developer-section {
    padding: 40px 0;
}

.col-md-3 {
        flex: 0 0 auto;
        width: 22%;
    }

        .col-md-4 {
        flex: 0 0 auto;
        width: 33.33333333%;
    }

        .col-lg-2 {
        flex: 0 0 auto;
        width: 16.66666667%;
    }

        .col-lg-10 {
        flex: 0 0 auto;
        width: 83.33333333%;
    }


    .developer-logo {
    width: auto;
    display: inline-block;
    margin-bottom: 20px;
}


    .row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.developer-div ul.tabs {
    margin: 0;
    padding: 0;
    list-style: none;
    border-bottom: 1px solid #333;
    display: flex;
    justify-content: center;
    text-align: center;
}
.developer-div ul.tabs li {
    margin: 0;
    cursor: pointer;
    padding: 10px 10px;
    border-top: 1px solid #333;
    border-left: 1px solid #333;
    background-color: #eb9020;
    color: #fff;
    position: relative;
    font-size: 16px;
    /* font-family: 'poppinssemibold'; */
    text-transform: uppercase; 
    /* flex-basis: 0; */
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%; 
}  

.major_devloper_itm {
    text-align: center;
    /* margin: 0 0 30px 0; */
}


.developer-main-div .major_devloper_itm {
    /* margin-bottom: 30px; */
}
.major_devloper_itm a {
    border: 1px solid gainsboro;
    padding: 15px;
    width: 100%;
    display: inline-block;
}
.developer-div .tab_last { border-right: 1px solid #333; }
.developer-div ul.tabs li:hover {
    background-color: #ccc;
    color: #333;
}
.developer-div ul.tabs li.active {
    background-color: #fff;
    color: #333;
}
.developer-div ul.tabs li.active::after {
    content: "";
    position: absolute;
    width: 100%;
    left: 0px;
    bottom: -1px;
    height: 1px;
    background-color: #fff;
    z-index: 1;
}
.developer-div .tab_container {
    border: 1px solid #333;
    border-top: none;
    background: #fff;
    overflow: auto;
}
.developer-div .tab_content {
    padding: 30px;
    display: none;
} 
.developer-div .tab_drawer_heading { display: none; } 
/* DEVELOPER LISTING PAGE CSS ENDS HERE */


/* ARYA */
.home-secC .count-wrap .count-info-wrap .ar-devcount-info {
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    gap: 30px;
}

.ar-dev-abt{
    margin-top: 20px;
    padding: 40px;
    background: rgb(255, 255, 255);
    border-radius: 30px;
    border: 1px solid gainsboro;
    /* box-shadow: 0px 0px 60px -20px #7d797947; */
}

.ar-devd-logo{
    background: #ffffff;
    padding: 20px 60px;
    width: 250px!important;
    border-radius: 10px;
    /* border: 1px solid gainsboro; */
    box-shadow: 0px 20px 60px -20px #cbcbbd;
    margin-top: -7%!important;
}

.ar-devcount-info h5{
    font-size: 36px;
    color: #eb9020;
    line-height: 1; 
}

.ar-devcount-info p{
    color: #000000;
    font-size: 18px;
}


.ar-dev-abt .count-info-wrap {
    padding: 0 40px!important;
}

.ar-devd-cnt{
    text-align: justify;
    margin-top: 30px;
    margin-bottom:40px;
}
/* ARYA */